body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.header{
    height: 100px;
    width: 100%;
    background-color: rgb(7, 7, 100);
    display: flex;
    align-items: center;
}

.sobre_mi{
    height: 50px;
    justify-content: center;
    width: 100px;
    display: flex;
    margin-left: 20rem;
}
 
.sobre_mi ul a{
display: flex;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;  
  align-items: center;
}

.sobre_mi ul a:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}